.Table {
  --border: 1px solid rgba(0, 0, 0, 0.12);
  --padding: 8px;

  border: var(--border);
  border-radius: 4px;
  display: flex;
}

.Table table {
  flex: 1;
  border-collapse: collapse;
  font-size: 12px;
}

.Table tr {
  height: 32px;
  text-align: left;
}

.Table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.Table tbody td {
  border-top: var(--border);
}

.Table tr > * {
  padding-right: var(--padding);
}

.Table tr > :first-child {
  padding-left: var(--padding);
}
