.Solver-table {
  --border: 1px solid rgba(0, 0, 0, 0.12);
  border: var(--border);
  border-radius: 4px;
}

.Solver-table table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.Solver-table tr {
  height: 32px;
  text-align: right;
}

.Solver-table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.Solver-table tbody td {
  border-top: var(--border);
}

.Solver-table tr > * {
  padding-right: 8px;
}

.Solver-table tr > :first-child {
  padding-left: 8px;
  text-align: left;
}

.Solver-table label {
  display: flex;
  align-items: center;
}

.Solver-table input {
  margin-right: 8px;
}

.Solver button {
  margin-top: 16px;
}
